/* MEGA NAV */
.nav {
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

/* LEFT SIDE NAV */
.navlogotext {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
    margin-left: 100px;
}

/* RIGHT SIDE NAV */
 .ul {
    display: flex;
    list-style-type: none;
    margin-right: 100px;
    padding: 0;
    gap: 15px;
}

 a {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
 }

/* MAIN HERO */
.hero {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background: #94aac9;
    height: auto;
    margin: 0px;
    padding: 50px;
}

/* HERO LEFT SIDE */
.herop {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 0;
    gap: 0px;
}

.herotitle {
    color: #F9FAF8;
    font-size: 88px;
    font-weight: 900;
    margin-bottom: 5px;
}

.herotext {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.herobutton {
    color: white;
    background-color: #1f2937;
    font-size: 14px;
    width: 200px;
    font-weight: 400;
    margin-top: 25px;
    border: 10px solid rgb(89, 5, 167);
    border-radius: 100px;
}

/* HERO RIGHT SIDE */
.heroimg {
    height: auto;
    width: 100%;
    max-width: 700px;
    max-height: 100%;
    border: 10px solid rgb(89, 5, 167);
    border-radius: 100px;
    margin-top: 15px;
}

/* CONTENT BLOCK */
.content {
    min-height: 35vh;
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contenttitle {
    text-align: center;
    padding: 24px;
    margin-bottom: 16px;
    color: #F9FAF8;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 25px;
}

.contentboxes {
    color: #e5e7eb;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.contentimage {
    height: auto;
    width: 100%;
    max-width: 400px;
    max-height: 100%;
    border: 10px solid rgb(89, 5, 167);
    border-radius: 50px;
    margin-top: 15px;
}

/* QUOTE BLOCK */
.quote {
    height: 55vh;
    background: #94aac9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.quotemain {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.speaker {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    text-align: right;
    font-size: 32px;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

.gametitle {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
}

/* CTA BLOCK */
.cta {
    display: flex;
    justify-content: space-around;
    background: #1f2937;
    margin: 200px;
    padding: 20px;
    border: 10px solid rgb(89, 5, 167);
    border-radius: 50px;
}

.ctamain {
    color: #F9FAF8;
    font-size: 32px;
    font-weight: 900;
    margin: 0px;
}

.ctasubtext {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 5px;
    padding: 0px;
}

.ctabutton {
    color: #F9FAF8;
    background-color: #94aac9;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    border: 10px solid rgb(89, 5, 167);
    border-radius: 10px;
}

/* FOOTER */
.footer {
    display: flex;
    background: #1f2937;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.footertext {
    color: #F9FAF8;
    font-weight: 400;
    font-size: 16px;
}